.forgotPasswordForm {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
}

.forgotPasswordForm form {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 15px 30px 20px 30px;
   width: 400px;
   border-radius: 10px;

   .contentHeading {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   label {
      padding-left: 10px;
      color: #074777;
   }

   input {
      width: 100%;
      padding: 2px 10px;
      border-radius: 5px;
      border: 2px solid #074777;
      color: #074777;
      font-weight: 500;
   }

   svg {
      cursor: pointer;
   }

   .input::placeholder {
      color: #074777 !important;
   }

   .eyeBtn {
      position: absolute;
      margin-left: -25px;
   }

   .frgtPass {
      display: flex;
      justify-content: right;
      cursor: pointer;
      border: none;
      float: right;
      margin-bottom: 10px;
      background-color: transparent;
   }

   .disable {
      cursor: not-allowed;
   }

   .signupBtn {
      cursor: pointer;
      color: #074777 !important;
   }

   .loginBtn {
      width: 100%;
      border: 2px solid #074777;
      background-color: #074777;
      color: white;
      font-weight: 600;
      padding: 2px 20px;
      border-radius: 5px;
   }

   .sendOTPBtn {
      width: 100%;
      border: 2px solid #074777;
      background-color: #074777;
      color: white;
      font-weight: 600;
      padding: 2px 20px;
      border-radius: 5px;
   }

   span {
      color: #074777;
      font-weight: 500;
   }

   hr {
      color: #074777 !important;
      height: 2px;
      opacity: 1;
   }

   .ErrSection {
      color: red;
      font-size: 13px;
      padding-left: 10px;
      height: 15px;
   }
}